@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Zilla+Slab:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.ff-accent {
    font-family: 'zilla slab' !important;
    /* font-weight: 100 !important; */
    /* letter-spacing: 10px; */
}
.clr--accent {
    /* color: #CE1212 !important; */
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #222831;
    color: white;
    font-family: 'space mono';
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4vh;
    font-size: 1.2em;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 0px;
    background-color: #393E46;
    z-index: 100;
}
.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    position: relative;

}
#logo{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    letter-spacing: 1em;
    margin-left: 20px;
}
#intro-section {
    width: 100%;    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#intro-section > h1 {
    margin-bottom: 10px;
    font-size: 4em;
    text-align: center;
}
#skills-section, #projects-section, #contact-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#projects, #skills {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.skill-box, .project-box {
    border: 1px solid white;
    padding: 20px;
    /* width: 20%; */
    margin: 10px 10px;
}
.skill {
    list-style: none;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.842);
}
.skill > span {
    font-size: 1rem;
}
.skill-category, .project-title {
    margin-bottom: 20px;
    font-size: 1.7rem;
    color: #EEEEEE;
}
.project-link {
    overflow: hidden;
    position: relative;
    padding:10px 20px;
    margin-top: 20px;
    background-color: #FFD369;
    color: #222831;
    font-weight: bold;
    font-size: large;
    font-family: 'space mono';
    border: none;
    cursor: pointer;
}
.challenge-links > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.678);
    display: block;
    margin-bottom: .2rem;
    transition: .2s ease;
}
.challenge-links > a:hover {
    color: white;
}
#contact-section {
    flex-direction: column;
}
#contact-title {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}
#contact-box {
    padding: 20px 30px;
    width: 30%;
    display: flex;
    justify-content: space-around;
}
footer {
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 0;
    background-color: #393E46;
}
.section-title {
    text-align: center;
    margin: 5rem 2rem;   
}

@media (max-width: 550px) {
    #nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0;
        margin: 0;
        place-items: center;
    }
    .project-box {
        width: 50%;
    }
    .skill-box {
        width: 50%;
    }
    #contact-box {
        width: 100%;padding: 0px;
    }
    h1.section-title {
        margin-top: 100px;
    }
    #projects {
        grid-template-columns:1fr;
        place-items: center;
    }
}
@media (max-width: 450px) {
    
    #logo {
        display: none;
    }
    #navbar {
        justify-content: center;
    }
    #intro-section > h1 {
        font-size: 3rem;
    }
  
    .project-box {
        width: 70%;
    }
    .skill-box {
        width: 70%;
    }
    #contact-title {
        font-size: 1.5em;
    }
    #contact-box {
        width: 90%;
        justify-content: space-between;
        padding: 0px;
    }

    p#footer-note {
        text-align: center;
    }
}



.nav-link::before {
    content: "";
    background-color: black;
    transition: .1s ease;
    position: absolute;
    bottom: 50%;
    height: 1px;
    width: 0%;
}
.nav-link:hover:before {
    width: 100%;
    z-index: -1;
    background-color:white;
}
.project-link::before {
    position: absolute;
    top: 0;
    content: "";
    left: -10%;
    width: 10%;
    height: 100%;
    background-color: white;
    transition: .2s ease;
    transition-delay: .2s;
}
.project-link:hover:before {
    left: 110%;
}
.project-desc {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.774);
}
.project-title {
    font-size: 2rem;
}
.tools {
    border: 1px solid rgba(255, 255, 255, 0.39);
    margin: 1rem 0;
    padding: min(2rem, 10%);
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.808);
}
a.code-btn{
    /* text-decoration: none; */
    color: white;
    margin-left: auto;
    display: block;
    padding: 1rem;
    padding-left: 0;
}
.section-title {
    font-size: 2rem;
    /* letter-spacing: 5px; */
}
#intro-line3 span {
    color: #FFD369;
    letter-spacing: 3px;
    margin-left: 1rem;
    font-family: 'space mono';
}
#logo {
    color: #FFD369;
}
#contact-box > a {
    transition: .2s ease;
}
#contact-box > a:hover {
    transform: scale(1.2);
}